<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
            <header class="header">
                <div class="row">
                    <div class="medium-6 columns">
                        <h1><a href="/" title="{{ site.name }}">Ukham</a></h1>
                    </div>
                    <nav class="medium-6 columns text-right">
                        <ul class="top-nav">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </header><!-- Header -->
            <div class="content-wrapper">
                {{ content }}
            </div>
        </div><!-- Container -->
        <footer class="footer">
            <div class="row">
                <div class="medium-6 column social-list">
                    <ul>
                        <li><a href="http://facebook.com/ichaiwut.s"><img src="{{ page.imageurl }}/img/facebook.png" alt="facebook/ichaiwut.s" title="facebook/ichaiwut.s"></a></li>
                        <li><a href="http://twitter.com/BeStrangers"><img src="{{ page.imageurl }}/img/twitter.png" alt="@Bestrangers" title="@Bestrangers"></a></li>
                        <li><a href="http://chaiwut.tumblr.com"><img src="{{ page.imageurl }}/img/tumblr.png" alt="chaiwut.tumblr.com" title="chaiwut.tumblr.com"></a></li>
                        <li><a href="http://instagram.com/BeStrangers"><img src="{{ page.imageurl }}/img/instagram.png" alt="@BeStrangers" title="@BeStrangers"></a></li>
                        <li><a href="http://github.com/ichaiwut"><img src="{{ page.imageurl }}/img/github.png" alt="@ichaiwut" title="@ichaiwut"></a></li>
                    </ul>
                </div>
                <div class="medium-6 columns text-right">
                    <p>
                        &copy;Ukham.com
                    </p>
                </div>
            </div>
        </footer>
        {% include script-file.html %}
    </body>
</html>
