<!DOCTYPE html>
<!--
@waizonne Blog is Story
-->
<html>
    {% include head.html %}
    <body>
        <div class="container">
            <header class="header">
                <div class="row">
                    <div class="medium-6 columns">
                        <h1><a href="/" title="{{ site.name }}">@waizonne Blog is Story</a></h1>
                    </div>
                    <nav class="medium-6 columns text-right">
                        <ul class="top-nav">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </header><!-- Header -->
            <div class="content-wrapper">
                {{ content }}
            </div>
        </div><!-- Container -->
        <footer class="footer">
            <div class="row">
                <div class="medium-6 column social-list">
                    <ul>
                        <li><a href="http://facebook.com/waizonne"><img src="{{ page.imageurl }}/img/facebook.png" alt="facebook/waizonne" title="facebook/waizonne"></a></li>
                        <li><a href="http://twitter.com/waizonne"><img src="{{ page.imageurl }}/img/twitter.png" alt="@waizonne" title="@waizonne"></a></li>
                        <li><a href="http://instagram.com/waizonne"><img src="{{ page.imageurl }}/img/instagram.png" alt="@waizonne" title="@waizonne"></a></li>
                        <li><a href="http://github.com/waizonne"><img src="{{ page.imageurl }}/img/github.png" alt="@waizonne" title="@waizonne"></a></li>
                    </ul>
                </div>
                <div class="medium-6 columns text-right">
                    <p>
                        &copy;waizonne
                    </p>
                </div>
            </div>
        </footer>
        {% include script-file.html %}
    </body>
</html>
